.entry-done{
	text-decoration: line-through;
	font-style: italic; 
}

.todo-list{
	height: 40%;
	overflow-y: auto;
	border: none;
}

.actions-panel{
	display: none;
	width: 200px;
	height: 48px;
	overflow: hidden;
}