<div class="{{entry.done ? 'entry-done': ''}} entry-text">{{ entry.name }}</div>
<div class="entry-edit" style="display: none;">
	<div class="input-field">
		<input type="text" ng-model="entry.name_new"/>
	</div>
	<div class="horizontal edit-actions">
		<a class="btn-floating green accent-2 btn-small" ng-click="ctrl.editTodo(entry);hideEdit();">
			<i class="material-icons">done</i>
		</a>
		<a class="btn-floating red accent-2 btn-small" ng-click="hideEdit()">
			<i class="material-icons">clear</i>
		</a>
	</div>
</div>
<div style="position: relative;">
	<div class="fixed-action-btn horizontal"
		 style="position: absolute; right: 24px;">
		<a class="btn-floating green btn-small">
			<i class="material-icons">mode_edit</i>
		</a>
		<ul>
			<li>
				<a class="btn-floating green accent-1 edit-btn" ng-click="showEdit()">
					<i class="material-icons">mode_edit</i>
				</a>
			</li>
			<li ng-if="!entry.done">
				<a class="btn-floating green accent-2" ng-click="ctrl.doneTodo(entry)">
					<i class="material-icons">done</i>
				</a>
			</li>
			<li ng-if="entry.done">
				<a class="btn-floating orange accent-2" ng-click="ctrl.undoneTodo(entry)">
					<i class="material-icons">cached</i>
				</a>
			</li>
			<li>
				<a class="btn-floating red accent-2" ng-click="ctrl.removeTodo(entry)">
					<i class="material-icons">delete</i>
				</a>
			</li>
		</ul>
	</div>
</div>
